
<div class="container">
 
    <mat-card>  <img src="../../../assets/login_img2.avif" class="img rounded float-start"></mat-card>

   
    <mat-card>
       
        <mat-card-content>
            <mat-card-title><h2>Bienvenue </h2></mat-card-title>
            <p> Le monde de l’investissement vous attend déjà </p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Mot de passe" formControlName="password" type="password">
                </mat-form-field>
                <mat-error *ngIf="errorMessage.length>0" class="error">
                    {{errorMessage}}
                </mat-error>
                <span>Pas encore de compte? Créez en un <a (click)="goToRegister()">ici</a></span>
                <button mat-raised-button color="primary" type="submit">Connexion</button>
                
            </form>
           
        </mat-card-content>
    </mat-card>
</div>


